{% extends layout_path %}
{% load static %}
{% load i18n %}

{% block title %}Esqueceu a Senha - Segurança{% endblock %}

{% block content %}
<div class="position-relative">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner py-6 mx-4">
      <div class="card p-sm-7 p-2">
        <div class="card-body mt-1">
          <h4 class="mb-1">Esqueceu a Senha? 🔒</h4>
          <p class="text-start mb-5">Digite seu e-mail e enviaremos o código de recuperação.</p>

          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-success p-2 mb-3" role="alert">{{ message }}</div>
            {% endfor %}
          {% endif %}

          <!-- Envia um POST para a view de envio de e-mail -->
          <form id="formAuthentication" class="mb-5" action="{% url 'auth-forgot-password-basic' %}" method="POST">
            {% csrf_token %}
            <div class="form-floating form-floating-outline mb-5">
              <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu e-mail" autofocus required />
              <label for="email">E-mail</label>
            </div>
            <button class="btn btn-primary d-grid w-100 mb-5" type="submit">Enviar Código de Recuperação</button>
          </form>

          <p class="text-center">
            <a href="{% url 'auth-login-basic' %}"><span>Voltar para o login</span></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
